.login-form-container__form-part--form .forget-password, .reset-password-container__button {
  width: 100%; }

.input-control, .login-form-container__image-part, .login-form-container__form-part {
  width: 50%;
  display: block;
  float: left; }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left; }

.col-md-1 {
  width: 8.33%; }

.offset-md-1 {
  margin-left: 8.33%; }

.col-md-2 {
  width: 16.66%; }

.col-md-3 {
  width: 25%; }

.offset-md-3 {
  margin-left: 25%; }

.col-md-4 {
  width: 33.33%; }

.offset-md-4 {
  margin-left: 33.33%; }

.col-md-5 {
  width: 41.66%; }

.offset-md-5 {
  margin-left: 41.66%; }

.col-md-6 {
  width: 50%; }

.col-md-7 {
  width: 58.33%; }

.col-md-8 {
  width: 66.66%; }

.col-md-9 {
  width: 75%; }

.col-md-10 {
  width: 83.33%; }

.col-md-11 {
  width: 91.66%; }

.col-md-12 {
  width: 100%; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  font-size: 16px;
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/*keva-project properties added*/
.clearfix {
  clear: both; }

h2 {
  font-size: 22px;
  font-weight: normal;
  text-transform: capitalize; }

p {
  font-size: 14px;
  color: #707070;
  margin-top: 10px; }

.form-label {
  display: block;
  font-size: 13px;
  color: #707070;
  margin-bottom: 5px;
  text-transform: capitalize; }

.form-input {
  display: block;
  width: 85%;
  font-size: 16px;
  border-width: 0px;
  color: #000000;
  border-bottom: 1px solid #457a45;
  padding-bottom: 6px; }
  .form-input:focus {
    outline: none; }

.input-control, .login-form-container__image-part, .login-form-container__form-part {
  width: 50%;
  display: block;
  float: left; }

.input-control {
  margin-bottom: 35px; }

button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 42px 9px 47px;
  background-color: #53a0fd;
  color: #fff;
  border: none;
  cursor: pointer; }
  button .fa-long-arrow-right {
    padding-left: 24px; }
  button:focus {
    outline: none; }
  button:hover {
    background-color: #4280ca; }

span {
  margin-left: 20px; }
  span a {
    text-decoration: none;
    margin-left: 8px; }

.container__sidenav {
  background-color: #243042;
  height: 100%;
  position: fixed;
  width: 200px; }
  .container__sidenav--profile {
    text-align: center;
    margin: 0 auto 23px auto; }
    .container__sidenav--profile h3 {
      color: #53a0fd;
      margin: 30px auto;
      font-size: 16px; }
    .container__sidenav--profile img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 79px;
      height: 79px;
      margin-bottom: 13px; }
    .container__sidenav--profile h5 {
      color: #fff;
      font-weight: 600px;
      font-size: 12px; }
    .container__sidenav--profile small {
      color: #aab8c5;
      display: block;
      margin: 2px;
      font-size: 10px; }
  .container__sidenav--menu ul {
    display: none; }
  .container__sidenav--menu li {
    color: #aab8c5;
    font-weight: 600;
    font-size: 11px;
    padding: 20px 0; }
    .container__sidenav--menu li:hover {
      background-color: #1f2a3a;
      cursor: pointer; }
      .container__sidenav--menu li:hover .fa-chevron-right {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
        margin-right: 25px; }
      .container__sidenav--menu li:hover ul {
        display: block; }
    .container__sidenav--menu li a {
      color: #aab8c5;
      text-decoration: none;
      font-weight: 600; }
      .container__sidenav--menu li a i {
        margin: 0 13px 0 17px;
        height: 15px;
        width: 15px; }
      .container__sidenav--menu li a:hover {
        color: #fff; }
      .container__sidenav--menu li a.active {
        color: #53a0fd; }
    .container__sidenav--menu li .fa-chevron-right {
      float: right;
      margin-right: 18px; }
    .container__sidenav--menu li .space-control li {
      padding-bottom: 0px; }
    .container__sidenav--menu li .sub-nav li {
      padding-left: 44px;
      padding-bottom: 0px;
      padding-top: 40px; }
      .container__sidenav--menu li .sub-nav li:hover {
        cursor: pointer; }
      .container__sidenav--menu li .sub-nav li:hover ul {
        display: block; }
      .container__sidenav--menu li .sub-nav li a:hover {
        color: #fff; }
.container__panel {
  width: 100%;
  position: relative;
  left: 200px;
  top: 0px; }
  .container__panel .details {
    width: calc(100% - 585px);
    float: left; }
  .container__panel .flex-align {
    display: flex;
    align-items: center;
    justify-content: center; }
  .container__panel .information {
    padding-left: 36px;
    width: 384px;
    height: 100%;
    background-color: #f5f6fa;
    float: left;
    position: relative; }
    .container__panel .information .label-control {
      display: inline-block;
      font-size: 11px; }
      .container__panel .information .label-control label {
        color: #243042; }
      .container__panel .information .label-control span {
        margin-left: 0px;
        margin-right: 30px; }
      .container__panel .information .label-control .notification-view {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        position: absolute;
        background-color: #d0021b;
        bottom: 50%;
        right: 6%;
        border: 1px solid #fff; }
      .container__panel .information .label-control .blue-color {
        color: #53a0fd; }
      .container__panel .information .label-control .red {
        color: #d0021b; }
      .container__panel .information .label-control .fa {
        margin-right: 7px; }
      .container__panel .information .label-control .fa-bell {
        margin-right: 48px;
        padding-left: 4px;
        color: #707070; }
  .container__panel--header {
    position: relative;
    background-color: #fff;
    height: 50px;
    z-index: 1;
    box-shadow: 0 0 5px #7a7a7a;
    width: 100%;
    display: inline-block; }
    .container__panel--header .fa-bars {
      padding: 15px;
      color: #4a4a4a; }
    .container__panel--header h6 {
      font-size: 15px;
      font-weight: normal;
      color: #4a4a4a;
      display: inline; }
  .container__panel--body .details {
    padding-left: 35px; }
  .container__panel--body .information {
    height: calc(100vh - 55px) !important; }
    .container__panel--body .information ul {
      margin-top: 40px; }
      .container__panel--body .information ul h6 {
        font-size: 15px;
        color: #243042;
        font-weight: 600;
        padding-bottom: 5px;
        display: inline-block; }
      .container__panel--body .information ul li {
        list-style: none;
        font-size: 14px;
        font-weight: normal;
        color: #4a4a4a;
        margin-top: 13px; }
        .container__panel--body .information ul li i {
          margin-right: 12px;
          width: 14px;
          height: 14px; }
    .container__panel--body .information__title span {
      color: #f4c534;
      font-weight: 600;
      float: right; }
    .container__panel--body .information__title i {
      color: #f4c534;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #3e4347;
      margin: 0px 43px 0px 10px; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

.verification-container {
  margin: 191px auto 0 auto;
  width: 32%; }
  .verification-container span {
    color: #53a0fd;
    margin-left: 0px; }
  .verification-container h3 {
    margin-top: 40px;
    font-size: 16px;
    font-weight: normal; }
  .verification-container__otp input {
    margin: 21px 10px 21px 0px;
    font-size: 13px;
    border-width: 0px;
    color: #000000;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 7px;
    text-align: center; }
    .verification-container__otp input:focus {
      outline: none;
      text-align: center; }
  .verification-container p a {
    color: #53a0fd; }
  .verification-container__button {
    font-size: 16px; }
    .verification-container__button .submit {
      margin-top: 40px; }
    .verification-container__button a {
      text-decoration: none;
      margin-left: 31px;
      color: #000000; }

.forgot-password-container {
  margin: 228px auto 0px auto;
  width: 30%; }
  .forgot-password-container .input-control {
    margin-top: 40px;
    width: 100% !important; }
  .forgot-password-container .form-input {
    width: 100%; }
  .forgot-password-container__button {
    margin-top: 40px;
    width: 100%; }
    .forgot-password-container__button a {
      text-decoration: none;
      margin-left: 30px;
      color: #000000;
      font-size: 16px; }

.login-form-container {
  margin: 127px auto 0 auto !important; }
  .login-form-container__image-part {
    text-align: right; }
    .login-form-container__image-part img {
      margin: 100px 116px auto auto; }
  .login-form-container__form-part {
    padding-right: 240px; }
    .login-form-container__form-part--logo {
      margin-bottom: 42px; }
    .login-form-container__form-part p {
      margin-bottom: 37px; }
    .login-form-container__form-part--form .form-label {
      font-size: 16px; }
    .login-form-container__form-part--form input {
      width: 100%; }
    .login-form-container__form-part--form label {
      color: #000000;
      margin-top: 35px; }
    .login-form-container__form-part--form .forget-password {
      display: block;
      text-align: right;
      font-weight: normal;
      margin-top: 14px; }
      .login-form-container__form-part--form .forget-password a {
        text-decoration: none;
        color: #000000;
        font-weight: normal; }
    .login-form-container__form-part--form .signup-link {
      margin-top: 24px;
      font-size: 16px; }
      .login-form-container__form-part--form .signup-link p {
        color: #707070; }
      .login-form-container__form-part--form .signup-link__signup {
        color: #53a0fd;
        text-decoration: none;
        font-weight: 600; }

.reset-password-container {
  margin: 191px auto 0 auto;
  width: 35% !important; }
  .reset-password-container .input-control {
    width: 100% !important;
    margin-top: 40px;
    margin-bottom: 0px; }
  .reset-password-container__button button {
    margin-top: 40px; }
  .reset-password-container__button a {
    text-decoration: none;
    margin-left: 30px;
    color: #000000;
    font-size: 16px; }

.signup-form-one-container .signup-form {
  margin: 96px auto 0 auto;
  width: 70% !important; }
  .signup-form-one-container .signup-form__details {
    margin-top: 42px; }
    .signup-form-one-container .signup-form__details--row:before, .signup-form-one-container .signup-form__details--row:after {
      content: "";
      display: table;
      clear: both; }
    .signup-form-one-container .signup-form__details--row .username-control:before, .signup-form-one-container .signup-form__details--row .username-control:after {
      content: "";
      display: table;
      clear: both; }
    .signup-form-one-container .signup-form__details--row .username-control label {
      font-size: 16px;
      color: #000000; }
    .signup-form-one-container .signup-form__details--row .username-control input {
      font-size: 13px; }
    .signup-form-one-container .signup-form__details--button {
      margin-top: 44px; }

.signup-form-two-container {
  margin: 196px auto 0 auto;
  width: 70%; }
  .signup-form-two-container__details {
    padding-top: 51px; }
    .signup-form-two-container__details .radio-label {
      margin-right: 30px; }
    .signup-form-two-container__details .radio-input {
      margin-right: 10px; }
    .signup-form-two-container__details--row .calender-position {
      position: relative; }
    .signup-form-two-container__details--row .fa-calendar {
      position: absolute;
      right: 17%;
      bottom: 17%; }
    .signup-form-two-container__details--row .number-color {
      color: #53a0fd !important; }
    .signup-form-two-container__details--button a {
      text-decoration: none;
      color: #000000;
      margin-left: 30px; }

.signup-successful-container {
  width: 32%;
  margin: 247px auto 0 auto;
  text-align: center; }
  .signup-successful-container .fa-check {
    font-size: 35px;
    padding: 10px;
    border: 3px solid #53a0fd;
    color: #53a0fd;
    border-radius: 50%;
    margin-bottom: 35px; }
  .signup-successful-container p {
    font-weight: 600;
    margin-bottom: 20px; }
    .signup-successful-container p span q {
      color: #9b9b9b;
      quotes: "" " " "";
      font-weight: normal; }
  .signup-successful-container a {
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    color: #53a0fd;
    margin-top: 100px;
    font-weight: 600; }

.zipcode-container {
  margin: 246px auto 0px auto;
  width: 30%; }
  .zipcode-container .input-control {
    margin-top: 46px;
    width: 100%; }
  .zipcode-container__button {
    margin-top: 40px; }

.profile-container .container__panel--body .details {
  padding-left: 35px; }
  .profile-container .container__panel--body .details .control-info {
    position: relative; }
    .profile-container .container__panel--body .details .control-info label {
      width: 222px;
      display: inline-block;
      text-transform: capitalize;
      margin-top: 40px;
      font-size: 17px;
      color: #4a4a4a; }
    .profile-container .container__panel--body .details .control-info span {
      font-size: 17px;
      text-transform: capitalize; }
    .profile-container .container__panel--body .details .control-info .email {
      text-transform: lowercase;
      color: #53a0fd; }
    .profile-container .container__panel--body .details .control-info__button {
      margin-top: 17px; }
      .profile-container .container__panel--body .details .control-info__button input {
        font-size: 15px;
        padding: 11px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        width: 80%;
        box-shadow: none;
        border: 1px solid #4a4a4a; }
        .profile-container .container__panel--body .details .control-info__button input ::-webkit-input-placeholder {
          color: #a9a9a9; }
        .profile-container .container__panel--body .details .control-info__button input :-moz-placeholder {
          color: #a9a9a9; }
        .profile-container .container__panel--body .details .control-info__button input ::-ms-input-placeholder {
          color: #a9a9a9; }
        .profile-container .container__panel--body .details .control-info__button input :-moz-placeholder {
          color: #a9a9a9; }
        .profile-container .container__panel--body .details .control-info__button input:focus {
          outline: none; }
      .profile-container .container__panel--body .details .control-info__button button {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        padding: 12px 30px;
        position: absolute;
        font-weight: 600;
        right: 20%;
        background-color: transparent;
        border-left: 1px solid #4a4a4a;
        color: #4a4a4a; }

.dashboard-container .container__panel--header .information .notification-view {
  background-color: #53a0fd;
  color: #fff;
  font-size: 7px;
  padding-left: 2px; }
.dashboard-container .container__panel--body .details {
  padding-left: 43px;
  margin-top: 40px; }
  .dashboard-container .container__panel--body .details p {
    font-size: 19px;
    color: #4a4a4a;
    margin-top: 0px; }
  .dashboard-container .container__panel--body .details .display {
    display: inline-block;
    margin-top: 30px; }
    .dashboard-container .container__panel--body .details .display__color {
      width: 222px;
      float: left;
      margin-right: 43px;
      margin-bottom: 30px; }
      .dashboard-container .container__panel--body .details .display__color p {
        font-size: 10px;
        padding-left: 60px; }
      .dashboard-container .container__panel--body .details .display__color span {
        font-size: 11px;
        padding-left: 40px; }
    .dashboard-container .container__panel--body .details .display .green {
      color: #79be29;
      border: 1px solid #79be29;
      padding: 8px 0;
      border-radius: 50px;
      position: relative; }
    .dashboard-container .container__panel--body .details .display .yellow {
      color: #f4c534;
      border: 1px solid #f4c534;
      padding: 8px 0;
      border-radius: 50px;
      position: relative; }
    .dashboard-container .container__panel--body .details .display .red {
      color: #ed3b51;
      border: 1px solid #ed3b51;
      padding: 8px 0;
      border-radius: 50px;
      position: relative; }
    .dashboard-container .container__panel--body .details .display i {
      font-size: 51px;
      position: absolute;
      bottom: -1px;
      left: -1px; }

.peakflow-container .container__panel--body .details {
  padding-left: 43px;
  margin-top: 280px; }
  .peakflow-container .container__panel--body .details .peak-flow {
    padding: 17px 70px 23px 23px;
    background-color: #f5f6fa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 470px; }
    .peakflow-container .container__panel--body .details .peak-flow ::-webkit-input-placeholder {
      color: #a9a9a9; }
    .peakflow-container .container__panel--body .details .peak-flow :-moz-placeholder {
      color: #a9a9a9; }
    .peakflow-container .container__panel--body .details .peak-flow ::-ms-input-placeholder {
      color: #a9a9a9; }
    .peakflow-container .container__panel--body .details .peak-flow :-moz-placeholder {
      color: #a9a9a9; }
    .peakflow-container .container__panel--body .details .peak-flow .form-label {
      font-size: 18px;
      margin-bottom: 18px;
      color: #4a4a4a; }
    .peakflow-container .container__panel--body .details .peak-flow .form-input {
      margin-bottom: 22px;
      width: 380px;
      border: 1px solid #a9a9a9;
      border-radius: 25px;
      height: 43px;
      padding-left: 25px;
      padding-top: 6px; }
    .peakflow-container .container__panel--body .details .peak-flow select {
      margin-bottom: 22px;
      padding: 12px 243px 15px 14px;
      background-color: #fff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border: none;
      font-size: 15px; }
      .peakflow-container .container__panel--body .details .peak-flow select option {
        background-color: #53a0fd; }
      .peakflow-container .container__panel--body .details .peak-flow select:focus {
        outline: none; }
    .peakflow-container .container__panel--body .details .peak-flow__button {
      margin-top: 7px;
      font-size: 18px; }
      .peakflow-container .container__panel--body .details .peak-flow__button button {
        background-color: #fff;
        color: #53a0fd;
        padding: 9px 29px;
        border: 1px solid #53a0fd;
        border-radius: 40px;
        font-weight: 600; }

.select-medication-container .container__panel--header {
  position: fixed; }
  .select-medication-container .container__panel--header .information .notification-view {
    background-color: #53a0fd; }
.select-medication-container .container__panel--body .information {
  position: fixed;
  right: 0;
  margin-top: 54px; }
.select-medication-container .container__panel--body .details {
  padding-left: 43px;
  margin-top: 96px; }
  .select-medication-container .container__panel--body .details__chat .block {
    width: 100%;
    display: inline-block; }
  .select-medication-container .container__panel--body .details__chat--action-plan {
    display: block;
    padding: 15px 52px 24px 23px;
    border-radius: 10px 40px 40px 40px;
    background-color: #fef9e8;
    width: 500px;
    float: left;
    margin-bottom: 28px; }
    .select-medication-container .container__panel--body .details__chat--action-plan h3 {
      font-size: 17px;
      color: #4a4a4a;
      text-transform: capitalize;
      margin-bottom: 12px;
      font-weight: normal;
      padding-top: 5px; }
    .select-medication-container .container__panel--body .details__chat--action-plan h4 {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 10px;
      color: #000000;
      text-transform: capitalize; }
    .select-medication-container .container__panel--body .details__chat--action-plan p {
      margin-bottom: 7px; }
    .select-medication-container .container__panel--body .details__chat--action-plan span {
      margin-left: 0px;
      color: #f9cc2a;
      font-size: 16px;
      font-weight: 600; }
    .select-medication-container .container__panel--body .details__chat--action-plan .yellow {
      color: #f5a623;
      margin-top: 7px;
      display: inline-block; }
  .select-medication-container .container__panel--body .details__chat--know {
    display: block;
    padding: 14px 37px 17px 24px;
    border-radius: 10px 30px 30px 30px;
    background-color: #f5f6fa;
    width: 500px;
    float: left;
    margin-bottom: 31px; }
    .select-medication-container .container__panel--body .details__chat--know p {
      font-size: 17px; }
  .select-medication-container .container__panel--body .details__chat--reply {
    display: block;
    padding: 20px 40px 21px 39px;
    border-radius: 30px 30px 10px 30px;
    background-color: #d5e7fd;
    width: 104px;
    float: right;
    margin-bottom: 31px;
    margin-right: 43px; }
    .select-medication-container .container__panel--body .details__chat--reply p {
      font-size: 17px; }
  .select-medication-container .container__panel--body .details__chat--button {
    margin-top: 7px;
    font-size: 18px; }
    .select-medication-container .container__panel--body .details__chat--button button {
      background-color: #fff;
      color: #53a0fd;
      padding: 12px 37px;
      border: 1px solid #53a0fd;
      border-radius: 40px;
      font-weight: 600;
      margin-bottom: 43px; }

.terms-conditions-container .container {
  margin: 40px auto;
  width: 56%; }
  .terms-conditions-container .container__service {
    margin-bottom: 30px; }
    .terms-conditions-container .container__service h3 {
      text-transform: uppercase;
      font-size: 22px;
      font-weight: normal;
      color: #000000;
      margin-bottom: 20px; }
    .terms-conditions-container .container__service .capital {
      text-transform: uppercase; }
    .terms-conditions-container .container__service p {
      font-size: 14px;
      font-weight: normal;
      color: #707070;
      letter-spacing: 1.86; }
  .terms-conditions-container .container__topic-name {
    margin-bottom: 30px; }
    .terms-conditions-container .container__topic-name h4 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 600;
      color: #000000; }
    .terms-conditions-container .container__topic-name p {
      font-size: 14px;
      font-weight: normal;
      color: #707070;
      letter-spacing: 1.86; }
  .terms-conditions-container .container__checkbox-line {
    margin-bottom: 31px; }
    .terms-conditions-container .container__checkbox-line input {
      font-size: 14px;
      color: #707070; }
    .terms-conditions-container .container__checkbox-line a {
      text-decoration: none;
      color: #53a0fd; }
  .terms-conditions-container .container__button button {
    color: #fff;
    padding: 9px 34px 9px 49px;
    font-size: 16px; }
    .terms-conditions-container .container__button button .fa-long-arrow-right {
      color: #fff;
      padding-left: 12px; }
  .terms-conditions-container .container__button a {
    text-decoration: none;
    margin-left: 11px;
    color: #000000;
    font-size: 16px; }

.patient-list-container .container {
  margin-left: 6px;
  margin-right: 7px;
  width: calc(100% - 13px); }
  .patient-list-container .container__header {
    box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.14); }
    .patient-list-container .container__header--logo-line {
      display: block;
      background-color: #3f6bb3;
      height: 76px;
      color: #fff; }
      .patient-list-container .container__header--logo-line .logo {
        float: left;
        font-size: 22px;
        margin: 27px auto 27px 50px; }
      .patient-list-container .container__header--logo-line .right-section {
        float: right;
        font-size: 16px;
        margin-right: 98px;
        line-height: 76px; }
        .patient-list-container .container__header--logo-line .right-section img {
          width: 43px;
          height: 42px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle; }
    .patient-list-container .container__header--link {
      display: inline-block;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding-left: 50px;
      padding-top: 33px;
      padding-bottom: 32px;
      box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.14); }
      .patient-list-container .container__header--link .dark-blue-color a {
        color: #3f6bb3; }
      .patient-list-container .container__header--link li a {
        margin-right: 50px;
        font-size: 20px;
        font-weight: 600;
        position: static;
        color: #202020;
        text-decoration: none; }
        .patient-list-container .container__header--link li a i {
          margin-right: 22px;
          height: 12px;
          width: 10px; }
  .patient-list-container .container__body {
    background-color: #f8f8f8;
    padding-top: 35px;
    padding-bottom: 64px; }
    .patient-list-container .container__body--title .patient-name {
      float: left; }
    .patient-list-container .container__body--title .allergies-name {
      float: right;
      right: 98px; }
      .patient-list-container .container__body--title .allergies-name p {
        color: #696868;
        margin-right: 98px;
        font-size: 20px;
        font-weight: 600; }
        .patient-list-container .container__body--title .allergies-name p span {
          color: #cf2727; }
          .patient-list-container .container__body--title .allergies-name p span i {
            margin-right: 20px; }
    .patient-list-container .container__body--title h3 {
      margin-left: 50px;
      font-size: 30px;
      font-weight: bold;
      color: #696868; }
      .patient-list-container .container__body--title h3 span {
        color: #202020;
        margin-left: 0px; }
    .patient-list-container .container__body--information {
      border-radius: 12px;
      box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.11);
      margin-top: 52px;
      background-color: #fff;
      margin-left: 50px;
      display: inline-block;
      width: 1466px;
      padding: 17px 23px 17px 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .patient-list-container .container__body--information li {
        list-style-type: none;
        border-right: 2px solid #ececec;
        padding-right: 30px;
        padding-top: 16px;
        padding-bottom: 16px; }
        .patient-list-container .container__body--information li:first-child {
          margin-left: 0px; }
        .patient-list-container .container__body--information li .fa-user-friends {
          padding-right: 40px; }
        .patient-list-container .container__body--information li:last-child {
          border: none; }
        .patient-list-container .container__body--information li i {
          font-size: 32px;
          display: block;
          padding-right: 30px;
          color: #696868;
          padding-top: 10px;
          padding-right: 30px; }
        .patient-list-container .container__body--information li .fa-meh {
          color: #93cf4a; }
        .patient-list-container .container__body--information li label {
          font-size: 18px;
          font-weight: 600;
          color: #202020;
          display: flex;
          flex-wrap: nowrap; }
          .patient-list-container .container__body--information li label:last-child {
            margin-right: 0px;
            padding: 16px 28px;
            background-color: #e9e9e9;
            border-radius: 20px; }
        .patient-list-container .container__body--information li span {
          margin-left: 0px;
          font-size: 18px;
          font-weight: 600;
          display: flex;
          flex-wrap: nowrap;
          color: #696868;
          margin-top: 11px; }
    .patient-list-container .container__body--events {
      display: block;
      margin-top: 20px;
      margin-left: 51px;
      margin-right: 51px;
      background-color: #fff; }
      .patient-list-container .container__body--events .event-title {
        padding: 71px 49px 56px 50px; }
        .patient-list-container .container__body--events .event-title input,
        .patient-list-container .container__body--events .event-title select {
          background-color: #fff;
          margin-left: 12px;
          font-size: 18px;
          width: 100%;
          padding: 15px;
          color: #696868; }
          .patient-list-container .container__body--events .event-title input:focus,
          .patient-list-container .container__body--events .event-title select:focus {
            outline: none; }
        .patient-list-container .container__body--events .event-title button {
          padding: 15px 20px;
          font-size: 18px;
          color: #fff;
          border-radius: 4px;
          background-color: #3f6bb3; }
          .patient-list-container .container__body--events .event-title button:hover {
            background-color: #4c80d7; }
      .patient-list-container .container__body--events h4 {
        font-size: 26px;
        font-weight: 600;
        color: #3f6bb3; }
      .patient-list-container .container__body--events .inputs {
        display: inline-block;
        text-align: right;
        position: relative; }
        .patient-list-container .container__body--events .inputs .col-md-2 {
          padding: 0 15px; }
          .patient-list-container .container__body--events .inputs .col-md-2 .add-one {
            position: relative; }
            .patient-list-container .container__body--events .inputs .col-md-2 .add-one i {
              position: absolute;
              right: 10px;
              top: 20px;
              color: #696868; }
      .patient-list-container .container__body--events table {
        display: table;
        width: 100%;
        text-align: left;
        overflow: auto hidden; }
        .patient-list-container .container__body--events table td i {
          color: #696868; }
        .patient-list-container .container__body--events table th,
        .patient-list-container .container__body--events table td {
          padding: 10px;
          padding-right: 30px;
          border-bottom: 1px solid #ececec;
          color: #202020; }
          .patient-list-container .container__body--events table th:first-child,
          .patient-list-container .container__body--events table td:first-child {
            padding-left: 50px; }
        .patient-list-container .container__body--events table tr {
          margin-right: 30px;
          margin-bottom: 24px; }
        .patient-list-container .container__body--events table th {
          vertical-align: top;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 47px; }
    .patient-list-container .container__body footer {
      padding-top: 62px;
      padding-bottom: 30px;
      color: #747474;
      background-color: #fff;
      margin-bottom: 64px;
      width: 100%;
      text-align: right; }
      .patient-list-container .container__body footer i {
        padding: 0 35px; }
        .patient-list-container .container__body footer i.active {
          color: #202020; }
      .patient-list-container .container__body footer label,
      .patient-list-container .container__body footer span {
        font-size: 18px; }
      .patient-list-container .container__body footer select {
        background-color: #ebeff1;
        color: #747474;
        font-size: 18px; }

.patient-details-container .container {
  margin-left: 6px;
  margin-right: 7px;
  width: calc(100% - 13px); }
  .patient-details-container .container__header {
    box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.14); }
    .patient-details-container .container__header--logo-line {
      display: block;
      background-color: #3f6bb3;
      height: 76px;
      color: #fff; }
      .patient-details-container .container__header--logo-line .logo {
        float: left;
        font-size: 22px;
        margin: 27px auto 27px 50px; }
      .patient-details-container .container__header--logo-line .right-section {
        float: right;
        font-size: 16px;
        margin-right: 98px;
        line-height: 76px; }
        .patient-details-container .container__header--logo-line .right-section img {
          width: 43px;
          height: 42px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle; }
    .patient-details-container .container__header--link {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      margin-left: 50px;
      padding-top: 33px;
      padding-bottom: 32px; }
      .patient-details-container .container__header--link li a {
        margin-right: 50px;
        font-size: 20px;
        font-weight: 600;
        position: static;
        color: #202020;
        text-decoration: none; }
        .patient-details-container .container__header--link li a i {
          margin-right: 22px;
          height: 12px;
          width: 10px; }
      .patient-details-container .container__header--link .dark-blue-color a {
        color: #3f6bb3; }
  .patient-details-container .container__body {
    background-color: #f8f8f8;
    padding-top: 35px;
    padding-bottom: 64px; }
    .patient-details-container .container__body--title .patient-name {
      float: left; }
    .patient-details-container .container__body--title h3 {
      margin-left: 50px;
      font-size: 30px;
      font-weight: bold;
      color: #202020; }
      .patient-details-container .container__body--title h3 span {
        color: #202020;
        margin-left: 0px; }
    .patient-details-container .container__body--patients {
      display: block;
      margin-top: 20px;
      margin-left: 51px;
      margin-right: 51px;
      background-color: #fff; }
      .patient-details-container .container__body--patients .patient-information {
        padding: 71px 49px 56px 50px; }
        .patient-details-container .container__body--patients .patient-information input,
        .patient-details-container .container__body--patients .patient-information select {
          background-color: #fff;
          margin-left: 12px;
          font-size: 18px;
          width: 100%;
          padding: 15px;
          color: #696868; }
        .patient-details-container .container__body--patients .patient-information input:focus {
          outline: none; }
        .patient-details-container .container__body--patients .patient-information button {
          padding: 15px 20px;
          font-size: 18px;
          color: #fff;
          border-radius: 4px;
          background-color: #3f6bb3; }
          .patient-details-container .container__body--patients .patient-information button:hover {
            background-color: #4c80d7; }
      .patient-details-container .container__body--patients h4 {
        font-size: 26px;
        font-weight: 600;
        color: #3f6bb3; }
      .patient-details-container .container__body--patients .inputs {
        display: inline-block;
        text-align: right;
        position: relative; }
        .patient-details-container .container__body--patients .inputs .col-md-2 {
          padding: 0 15px; }
          .patient-details-container .container__body--patients .inputs .col-md-2 .add-one {
            position: relative; }
            .patient-details-container .container__body--patients .inputs .col-md-2 .add-one i {
              position: absolute;
              right: 10px;
              top: 20px;
              color: #696868; }
      .patient-details-container .container__body--patients table {
        display: table;
        width: 100%;
        text-align: left;
        overflow: auto hidden; }
        .patient-details-container .container__body--patients table th {
          vertical-align: top;
          font-size: 20px;
          font-weight: bold;
          color: #202020;
          margin-bottom: 47px; }
          .patient-details-container .container__body--patients table th input {
            font-weight: bold; }
        .patient-details-container .container__body--patients table th,
        .patient-details-container .container__body--patients table td {
          padding: 10px;
          padding-right: 30px;
          border-bottom: 1px solid #ececec;
          color: #202020; }
          .patient-details-container .container__body--patients table th:first-child,
          .patient-details-container .container__body--patients table td:first-child {
            padding-left: 50px; }
          .patient-details-container .container__body--patients table th span,
          .patient-details-container .container__body--patients table td span {
            margin: 0px;
            color: #36af6c; }
        .patient-details-container .container__body--patients table tr {
          margin-right: 30px;
          margin-bottom: 24px; }
    .patient-details-container .container__body footer {
      padding-top: 62px;
      padding-bottom: 30px;
      color: #747474;
      background-color: #fff;
      margin-bottom: 64px;
      width: 100%;
      text-align: right; }
      .patient-details-container .container__body footer i {
        padding: 0 35px;
        color: #696868; }
        .patient-details-container .container__body footer i.active {
          color: #202020; }
      .patient-details-container .container__body footer label,
      .patient-details-container .container__body footer span {
        font-size: 18px; }
      .patient-details-container .container__body footer select {
        background-color: #ebeff1;
        color: #747474;
        font-size: 18px; }

/*# sourceMappingURL=style.css.map */
