//code verification main container scss property starts
.verification-container {
    margin: 191px auto 0 auto;
    width: 32%;
    span {
        color: $blue-color;
        margin-left: 0px;
    }
    h3 {
        margin-top: 40px;
        font-size: 16px;
        font-weight: normal;
    }

    //code verification one time password starts
    &__otp{
        input {
            margin: 21px 10px 21px 0px;
            font-size: 13px;
            border-width: 0px;
            color: $black-color;
            border-bottom: 1px solid $light-grey-color-2;
            padding-bottom: 7px;
            text-align: center;
            &:focus {
                outline: none;
                text-align: center;
            }
        }
    }
    //code verification one time password ends
    p {
        a {
            color: $blue-color;
        }
    }
    //verify button scss property starts
    &__button {
        font-size: 16px;
        .submit {
            margin-top: 40px;
        }
        a {
            text-decoration: none;
            margin-left: 31px;
            color: $black-color;
        }
    }
    //verify button scss property ends
}

//code verification main page conatiner ends