//dashboard container page starts
.dashboard-container{

    //container starts
    .container{
    

    //dashboard panel starts
    &__panel{
        &--header{
            .information{
                .notification-view{
                    background-color: $blue-color;
                    color:$white-color;
                    font-size:7px;
                    padding-left:2px;
                }
            }
        }
        //panel body section starts
        &--body{
            .details{
                padding-left:43px;
                margin-top:40px;

                p{
                    font-size:19px;
                    color:$dark-grey-color;
                    margin-top:0px;

                }
                .display{
                    display: inline-block;
                    margin-top:30px;
                    &__color{
                        width:222px;
                        float:left;
                        margin-right:43px;
                        margin-bottom:30px;
                    
                        p{
                            font-size:10px;
                            padding-left:60px;
                        }
                        span{
                            font-size:11px;
                            padding-left:40px;
                        }
                    }
                    .green{
                        color:$green-color;
                        border:1px solid $green-color;
                        padding:8px 0;
                        border-radius:50px;
                        position: relative;
                    }
                    .yellow{
                        color:$yellow-color-2;
                        border:1px solid $yellow-color-2;
                        padding:8px 0;
                        border-radius:50px;
                        position: relative;
                    }
                    .red{
                        color:$red-color-2;
                        border:1px solid $red-color-2;
                        padding:8px 0;
                        border-radius:50px;
                        position: relative;
                    }
                    i{
                       font-size:51px;
                       position: absolute;
                       bottom:-1px;
                       left:-1px;
                    }
                }
                
            }

            
        }
        //panel body section ends
    }
    //dashboard panel ends
}
}
//dashboard main container ends