//forgot password main container scss property starts
.forgot-password-container {
    margin: 228px auto 0px auto;
    width: 30%;
    .input-control {
        margin-top: 40px;
        width: 100%!important;
    }
    .form-input {
        width: 100%;
    }
    //forgot password form button scss property starts
    &__button {
        margin-top: 40px;
        width: 100%;
        a {
            text-decoration: none;
            margin-left: 30px;
            color: $black-color;
            font-size: 16px;
        }
    }
    //forgot password form button scss property ends
}

//forgot password main container scss property ends