//login form main page container starts
.login-form-container {
    margin: 127px auto 0 auto!important;
    //login form left image part starts
    &__image-part {
        @extend %section;
        text-align: right;
        img {
            margin: 100px 116px auto auto;
        }
    }
    //login form left part ends
    //login form form-part starts
    &__form-part {
        @extend %section;
        padding-right: 240px;
        //logo part starts
        &--logo {
            margin-bottom: 42px;
        }
        p {
            margin-bottom: 37px;
        }
        //logo part ends
        //form main details starts
        &--form {
            .form-label {
                font-size: 16px;
            }
            input {
                width: 100%;
            }
            label {
                color: $black-color;
                margin-top: 35px;
            }
            .forget-password {
                @extend %line-block;
                display: block;
                text-align: right;
                font-weight: normal;
                margin-top: 14px;
                a {
                    text-decoration: none;
                    color: $black-color;
                    font-weight: normal;
                }
            }
            .signup-link {
                margin-top: 24px;
                font-size: 16px;
                p {
                    color: $grey-color;
                }
                &__signup {
                    color: $blue-color;
                    text-decoration: none;
                    font-weight: 600;
                }
            }
        }
        //form main details ends
    }
    //login form form part ends
}

//login form main page container ends