//patient details main container starts
.patient-details-container {
  //main page container starts
  .container {
    margin-left: 6px;
    margin-right: 7px;
    width: calc(100% - 13px);

    &__header {
      box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.14);
      &--logo-line {
        display: block;
        background-color: $dark-blue-color;
        height: 76px;
        color: $white-color;

        .logo {
          float: left;
          font-size: 22px;
          margin: 27px auto 27px 50px;
        }
        .right-section {
          float: right;
          font-size: 16px;
          margin-right: 98px;
          line-height: 76px;
          img {
            width: 43px;
            height: 42px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
      &--link {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        padding-top: 33px;
        padding-bottom: 32px;
        li a {
          margin-right: 50px;
          font-size: 20px;
          font-weight: 600;
          position: static;
          color: $black-color-4;
          text-decoration:none;
          i {
            margin-right: 22px;
            height: 12px;
            width: 10px;
          }
        }
        .dark-blue-color a{
          color: $dark-blue-color;
        }
      }
    }
    &__body {
      background-color: $light-grey-color-9;
      padding-top: 35px;
      padding-bottom: 64px;

      &--title {
        .patient-name {
          float: left;
        }

        h3 {
          margin-left: 50px;
          font-size: 30px;
          font-weight: bold;
          color: $black-color-4;
          span {
            color: $black-color-4;
            margin-left: 0px;
          }
        }
      }

      &--patients {
        display: block;
        margin-top: 20px;
        margin-left: 51px;
        margin-right: 51px;
        background-color: $white-color;
        .patient-information {
          padding: 71px 49px 56px 50px;

          input,
          select {
            background-color: $white-color;
            margin-left: 12px;
            font-size: 18px;
            width: 100%;
            padding: 15px;
            color: $dark-grey-color-2;
          }
          input {
            &:focus {
              outline: none;
            }
          }
          button {
            padding: 15px 20px;
            font-size: 18px;
            color: $white-color;
            border-radius: 4px;
            background-color: $dark-blue-color;
            &:hover{
                background-color: $dark-blue-color * 1.2;
            }
          }
        }
        h4 {
          font-size: 26px;
          font-weight: 600;
          color: $dark-blue-color;
        }
        .inputs {
          display: inline-block;
          text-align: right;
          position: relative;

          .col-md-2 {
            padding: 0 15px;

            .add-one {
              position: relative;

              i {
                position: absolute;
                right: 10px;
                top: 20px;
                color: $dark-grey-color-2;
              }
            }
          }
        }
        table {
          display: table;
          width: 100%;
          text-align: left;
          overflow: auto hidden;
          th {
            vertical-align: top;
            font-size: 20px;
            font-weight: bold;
            color: $black-color-4;
            margin-bottom: 47px;
            input {
              font-weight: bold;
            }
          }

          th,
          td {
            padding: 10px;
            padding-right: 30px;
            border-bottom: 1px solid $light-grey-color-10;
            color: $black-color-4;
            &:first-child {
              padding-left: 50px;
            }

            span {
              margin: 0px;
              color: $green-color-3;
            }
          }

          tr {
            margin-right: 30px;
            margin-bottom: 24px;
          }
        }
      }
      footer {
        padding-top: 62px;
        padding-bottom: 30px;
        color: $light-grey-color-12;
        background-color: $white-color;
        margin-bottom: 64px;
        width: 100%;
        text-align: right;
        i {
          padding: 0 35px;
          color: $dark-grey-color-2;
          &.active {
            color: $black-color-4;
          }
        }
        label,
        span {
          font-size: 18px;
        }
        select {
          background-color: $dark-grey-color-3;
          color: $light-grey-color-12;
          font-size: 18px;
        }
      }
    }
  }
}
