//patient list main container starts
.patient-list-container {
  //main page container starts
  .container {
    margin-left: 6px;
    margin-right: 7px;
    width: calc(100% - 13px);

    &__header {
      box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.14);
      &--logo-line {
        display: block;
        background-color: $dark-blue-color;
        height: 76px;
        color: $white-color;

        .logo {
          float: left;
          font-size: 22px;
          margin: 27px auto 27px 50px;
        }
        .right-section {
          float: right;
          font-size: 16px;
          margin-right: 98px;
          line-height: 76px;
          img {
            width: 43px;
            height: 42px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
          }
          span {
          }
        }
      }
      &--link {
        display: inline-block;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding-left: 50px;
        padding-top: 33px;
        padding-bottom: 32px;
        box-shadow: 0px 1px 7px 0 rgba(0, 0, 0, 0.14);
        .dark-blue-color{
        a{
          color: $dark-blue-color;
        }
      }
        li a {
          margin-right: 50px;
          font-size: 20px;
          font-weight: 600;
          position: static;
          color: $black-color-4;
          text-decoration: none;
          i {
            margin-right: 22px;
            height: 12px;
            width: 10px;
          }
        }
        
      }
    }
    &__body {
      background-color: $light-grey-color-9;
      padding-top: 35px;
      padding-bottom: 64px;

      &--title {
        .patient-name {
          float: left;
        }

        .allergies-name {
          float: right;
          right: 98px;
          p {
            color: $dark-grey-color-2;
            margin-right: 98px;
            font-size: 20px;
            font-weight: 600;
            span {
              color: $red-color-3;
              i {
                margin-right: 20px;
              }
            }
          }
        }

        h3 {
          margin-left: 50px;
          font-size: 30px;
          font-weight: bold;
          color: $dark-grey-color-2;
          span {
            color: $black-color-4;
            margin-left: 0px;
          }
        }
      }
      &--information {
        border-radius: 12px;
        box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.11);
        margin-top: 52px;
        background-color: $white-color;
        margin-left: 50px;
        display: inline-block;
        width: 1466px;
        padding: 17px 23px 17px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        li {
          list-style-type: none;
          border-right: 2px solid $light-grey-color-10;
          padding-right: 30px;
          padding-top: 16px;
          padding-bottom: 16px;
          &:first-child {
            margin-left: 0px;
          }
          .fa-user-friends {
            padding-right: 40px;
          }

          &:last-child {
            border: none;
          }
          i {
            font-size: 32px;
            display: block;
            padding-right: 30px;
            color: $dark-grey-color-2;
            padding-top: 10px;
            padding-right: 30px;
          }
          .fa-meh {
            color: $green-color-2;
          }
          label {
            font-size: 18px;
            font-weight: 600;
            color: $black-color-4;
            display: flex;
            flex-wrap: nowrap;

            &:last-child {
              margin-right: 0px;
              padding: 16px 28px;
              background-color: $light-grey-color-11;
              border-radius: 20px;
            }
          }
          span {
            margin-left: 0px;
            font-size: 18px;
            font-weight: 600;
            display: flex;
            flex-wrap: nowrap;
            color: $dark-grey-color-2;
            margin-top: 11px;
          }
        }
      }
      &--events {
        display: block;
        margin-top: 20px;
        margin-left: 51px;
        margin-right: 51px;
        background-color: $white-color;
        .event-title {
          padding: 71px 49px 56px 50px;

          input,
          select {
            background-color: $white-color;
            margin-left: 12px;
            font-size: 18px;
            width: 100%;
            padding: 15px;
            color: $dark-grey-color-2;
            &:focus {
              outline: none;
            }
          }
          button {
            padding: 15px 20px;
            font-size: 18px;
            color: $white-color;
            border-radius: 4px;
            background-color: $dark-blue-color;
            &:hover{
                background-color: $dark-blue-color * 1.2;
            }
          }
        }
        h4 {
          font-size: 26px;
          font-weight: 600;
          color: $dark-blue-color;
        }
        .inputs {
          display: inline-block;
          text-align: right;
          position: relative;

          .col-md-2 {
            padding: 0 15px;

            .add-one {
              position: relative;

              i {
                position: absolute;
                right: 10px;
                top: 20px;
                color:$dark-grey-color-2;
              }
            }
          }
        }
        table {
          display: table;
          width: 100%;
          text-align: left;
          overflow: auto hidden;
          td{
            i{
              color:$dark-grey-color-2;
            }
          }

          th,
          td {
            padding: 10px;
            padding-right: 30px;
            border-bottom: 1px solid $light-grey-color-10;
            color: $black-color-4;
            &:first-child {
              padding-left: 50px;
            }
          }
            
            tr {
              margin-right: 30px;
              margin-bottom: 24px;
            }
            th {
              vertical-align: top;
              font-size: 20px;
              font-weight: bold;
              margin-bottom: 47px;
            }
          }
        }
      
      footer {
        padding-top: 62px;
        padding-bottom: 30px;
        color: $light-grey-color-12;
        background-color: $white-color;
        margin-bottom: 64px;
        width: 100%;
        text-align: right;
        i {
          padding: 0 35px;
          &.active {
            color: $black-color-4;
          }
        }
        label,
        span {
          font-size: 18px;
        }
        select {
          background-color: $dark-grey-color-3;
          color: $light-grey-color-12;
          font-size: 18px;
        }
      }
    }
  }
}
