//peak-flow container page starts
.peakflow-container{

    //container starts
    .container{

    //peak-flow panel starts
    &__panel{ 
        &--header{
        
        }
        //panel body section starts
        &--body{

        
            .details{
                padding-left:43px;
                margin-top:280px;
                .peak-flow{
                    padding:17px 70px 23px 23px;
                    background-color: $light-grey-color-6;
                    @include border-radius(10px);
                    @include placeholder($light-grey-color-8);  
                    width:470px;

                    .form-label{
                        font-size:18px;
                        margin-bottom:18px;
                        color:$dark-grey-color;
                    }
                    .form-input{
                        margin-bottom:22px;
                        width:380px;
                        border:1px solid $light-grey-color-8;
                        border-radius:25px;
                        height:43px;
                        padding-left:25px;
                        padding-top:6px;
                    }
                    select{
                        margin-bottom:22px;
                        padding:12px 243px 15px 14px;
                        background-color: $white-color;
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                        border:none;
                        font-size:15px;
                        option{
                            background-color: $blue-color;
                        }
                        &:focus{
                            outline:none;
                        }
                    }
                    
                    &__button{
                        margin-top:7px;
                        font-size:18px;
                        button{
                        background-color:$white-color;
                        color:$blue-color;
                        padding:9px 29px;
                        border: 1px solid $blue-color;
                        border-radius:40px;
                        font-weight:600;
                        }
                    }
                }
            }
            
        }
        //panel body section ends
    }
    //peak-flow panel ends
}
}
//peak-flow main container ends