//profile container page starts
.profile-container{

    //page container starts
    .container{        

        //dashboard panel starts
        &__panel{
            
            //panel body section starts
            &--body{
                .details{
                    padding-left:35px;
                    .control-info{
                        position: relative; 
                        label{
                            width: 222px;
                            display:inline-block;
                            text-transform: capitalize;
                            margin-top:40px;
                            font-size:17px;
                            color:$dark-grey-color;
                        }
                        span{
                            font-size:17px;
                            text-transform: capitalize;

                        }
                        .email{
                            text-transform: lowercase;
                            color:$blue-color;
                        }
                        &__button{
                            margin-top:17px;
                            input{
                                font-size:15px;
                                padding:11px;
                                @include placeholder($light-grey-color-8);
                                @include border-radius(25px);
                                width:80%;    
                                box-shadow: none;
                                border:1px solid $dark-grey-color; 
                                &:focus{
                                    outline:none;
                                }       
                            }
                            button{
                                @include border-radius(0px);
                                padding:12px 30px;
                                position: absolute;     
                                font-weight:600;                       
                                right:20%;
                                background-color:transparent;
                                border-left:1px solid $dark-grey-color;
                                color:$dark-grey-color; 
                            }
                        }
                    }
                }
                
            }
            //panel body section ends
        }
        //dashboard panel ends
    }
    //page container ends

}
//profile main container ends