//reset password main container starts
.reset-password-container {
    margin: 191px auto 0 auto;
    width: 35% !important;
    .input-control {
        width: 100%!important;
        margin-top: 40px;
        margin-bottom: 0px;
    }
    //reset password main container submit button scss property starts
    &__button {
        @extend %line-block;
        button {
            margin-top: 40px;
        }
        a {
            text-decoration: none;
            margin-left: 30px;
            color: $black-color;
            font-size: 16px;
        }
    }
    //reset password main container submit button scss property ends
}

//reset password main container ends