//dashboard container page starts
.select-medication-container {
  //container starts
  .container {
    &__panel {
      &--header {
          position:fixed;
        .information {
          .notification-view {
            background-color: $blue-color;
          }
        }
      }
    }

    //dashboard panel starts
    &__panel {
      //panel body section starts
      &--body {
        .information {
          position: fixed;
          right: 0;
          margin-top:54px;
        }
        .details {
          padding-left: 43px;
          margin-top: 96px;
          &__chat {
              .block{
                  width:100%;
                  display: inline-block;
                  
              }
            &--action-plan {
                display: block;
                padding: 15px 52px 24px 23px;
                border-radius: 10px 40px 40px 40px;
              background-color: $light-pink-color;
              width:500px;
              float: left;
              margin-bottom: 28px;
              h3 {
                font-size: 17px;
                color: $dark-grey-color;
                text-transform: capitalize;
                margin-bottom:12px;
                font-weight:normal;
                padding-top:5px;
              }
              h4 {
                  font-weight:600;
                  font-size:14px;
                  margin-bottom:10px;
                  color:$black-color;
                  text-transform: capitalize;
              }
              p {
                  margin-bottom:7px;
              }
              span {
                margin-left: 0px;
                color: $yellow-color-3;
                font-size: 16px;
                font-weight: 600;
              }
              .yellow{
                  color:$yellow-color-4;
                  margin-top:7px;
                  display:inline-block;
              }
            }
            &--know {
                display: block;
                padding: 14px 37px 17px 24px;
                border-radius: 10px 30px 30px 30px;
              background-color: $light-grey-color-6;
              width:500px;
              float: left;
              margin-bottom: 31px;
              p{
              font-size:17px;
              }

            }
            &--reply {
                display: block;
                padding: 20px 40px 21px 39px;
                border-radius: 30px 30px 10px 30px;
              background-color: $light-blue-color;
              width:104px;
              float:right;
              margin-bottom: 31px;
              margin-right:43px;
              p{
              font-size:17px;
              }
            }
            &--button {
                margin-top:7px;
                font-size:18px;
                button{
                background-color:$white-color;
                color:$blue-color;
                padding:12px 37px;
                border: 1px solid $blue-color;
                border-radius:40px;
                font-weight:600;
            margin-bottom:43px;}

            }
          }
        }
      }
      //panel body section ends
    }
    //dashboard panel ends
  }
}
//dashboard main container ends
