//signup form main conatiner scss starts
.signup-form-two-container {
    margin: 196px auto 0 auto;
    width: 70%;
    //signup form scss details property starts
    &__details {
        padding-top: 51px;
        .radio-label {
            margin-right: 30px;
        }
        .radio-input {
            margin-right: 10px;
        }
        //signup form input detail row starts
        &--row {
            .calender-position {
                position: relative;
            }
            .fa-calendar {
                position: absolute;
                right: 17%;
                bottom: 17%;
            }
            .number-color {
                color: $blue-color!important;
            }
        }
        //signup form input detail row ends
        //--signup form submit button scss starts
        &--button {
            a {
                text-decoration: none;
                color: $black-color;
                margin-left: 30px;
            }
        }
        //signup form submit button ends
    }
    //signup form scss details property ends
}

//signup form main container ends