//signup successful page container starts
.signup-successful-container {
    width: 32%;
    margin: 247px auto 0 auto;
    text-align: center;
    .fa-check {
        font-size: 35px;
        padding: 10px;
        border: 3px solid $blue-color;
        color: $blue-color;
        border-radius: 50%;
        margin-bottom: 35px;
    }
    p {
        font-weight: 600;
        margin-bottom: 20px;
        span {
            q {
                color: $light-grey-color-4;
                quotes: """ """;
                font-weight: normal;
            }
        }
    }
    a {
        display: inline-block;
        font-size: 14px;
        text-decoration: none;
        color: $blue-color;
        margin-top: 100px;
        font-weight: 600;
    }
}

//signup successful page container ends