//start html main container
.signup-form-one-container {
    //start signup page
    .signup-form {
        margin: 96px auto 0 auto;
        width: 70%!important;
        //signup form details scss property starts
        &__details {
            margin-top: 42px;
            &--row {
                @include clearfix();
                //scss property for username control starts
                .username-control {
                    @include clearfix();
                    label {
                        font-size: 16px;
                        color: $black-color;
                    }
                    input {
                        font-size: 13px;
                    }
                }
                //scss property for username control ends
            }
            //signup form submit button scss starts
            &--button {
                margin-top: 44px;
            }
            //signup form submit button ends
        }
        //signup form details scss property ends
    }
    //end signup page
}

//end html main container