//terms and condition main container starts
.terms-conditions-container {
  //container starts
  .container {
    margin: 40px auto;
    width: 56%;

    //service paragraph start
    &__service {
      margin-bottom: 30px;
      h3 {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: normal;
        color: $black-color;
        margin-bottom: 20px;
      }
      .capital {
        text-transform: uppercase;
      }
      p {
        font-size: 14px;
        font-weight: normal;
        color: $grey-color;
        letter-spacing:1.86;
      }
    }
    //service paragraph ends

    //topic of scss property
    &__topic-name {
      margin-bottom: 30px;
      h4 {
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 600;
        color: $black-color;
      }
      p {
        font-size: 14px;
        font-weight: normal;
        color: $grey-color;
        letter-spacing:1.86;
      }
    }
    //topic scss property ends

    //checkbox line property starts
    &__checkbox-line {
      margin-bottom: 31px;
      input {
        font-size: 14px;
        color: $grey-color;
      }
      a {
        text-decoration: none;
        color: $blue-color;
      }
    }
    //checkbox line property ends

    //button property starts
    &__button {
      button {
        color: $white-color;
        padding: 9px 34px 9px 49px;
        font-size: 16px;
        .fa-long-arrow-right {
          color: $white-color;
          padding-left: 12px;
        }
      }
      a {
        text-decoration: none;
        margin-left: 11px;
        color: $black-color;
        font-size: 16px;
      }
    }
    //button property ends
  }
  //container ends
}
//terms and conditions main container ends
