//zipcode main page container starts
.zipcode-container {
    margin: 246px auto 0px auto;
    width: 30%;
    .input-control {
        margin-top: 46px;
        width: 100%;
    }
    &__button {
        margin-top: 40px;
    }
}

//zipcode main container end