.col-md-1{
    @extend %grid;
    width: 8.33%;
}

.offset-md-1 {
    margin-left: 8.33%;
}

.col-md-2{
    @extend %grid;
    width: 16.66%;
}

.col-md-3{
    @extend %grid;
    width: 25%;
}

.offset-md-3 {
    margin-left: 25%;
}

.col-md-4{
    @extend %grid;
    width: 33.33%;
}

.offset-md-4{
    margin-left:33.33%;
}

.col-md-5{
    @extend %grid;
    width: 41.66%;
}

.offset-md-5{
    margin-left:41.66%;
}


.col-md-6{
    @extend %grid;
    width: 50%;
}

.col-md-7{
    @extend %grid;
    width: 58.33%;
}

.col-md-8{
    @extend %grid;
    width: 66.66%;
}

.col-md-9{
    @extend %grid;
    width: 75%;
}

.col-md-10{
    @extend %grid;
    width: 83.33%;
}

.col-md-11{
    @extend %grid;
    width: 91.66%;
}

.col-md-12{
    @extend %grid;
    width: 100%;
}