@mixin border-radius($button-radius) {
    -webkit-border-radius: $button-radius; 
       -moz-border-radius: $button-radius;
       border-radius: $button-radius;
  }

  @mixin transform($degree){
    -webkit-transform: $degree; 
    -moz-transform: $degree;
    transform: $degree;

  }

  @mixin placeholder($color){
	::-webkit-input-placeholder { 
	  color: $color;
	}
	:-moz-placeholder { 
	  color: $color;
	}
	::-ms-input-placeholder {
	  color: $color;
	}
	:-moz-placeholder { 
	  color: $color;
	}	
}



  @mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
} 