/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */


/* Document
   ========================================================================== */


/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}


/* Sections
     ========================================================================== */


/**
   * Remove the margin in all browsers.
   */

body {
    font-size: 16px;
    overflow-x: hidden;
    width: 100%;
    margin: 0 auto;
    font-family: $font-sans;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/**
   * Render the `main` element consistently in IE.
   */

main {
    display: block;
}


/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}


/*keva-project properties added*/

.clearfix{
    clear: both;
}

h2 {
    font-size: 22px;
    font-weight: normal;
    text-transform: capitalize;
}

p {
    font-size: 14px;
    color: $grey-color;
    margin-top: 10px;
}

.form-label {
    display: block;
    font-size: 13px;
    color: $grey-color;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.form-input {
    display: block;
    width: 85%;
    font-size: 16px;
    border-width: 0px;
    color: $black-color;
    border-bottom: 1px solid $light-grey-color;
    padding-bottom: 6px;
    &:focus {
        outline: none;
    }
}

%section {
    width: 50%;
    display: block;
    float: left;
}

.input-control {
    @extend %section;
}

.input-control {
    margin-bottom: 35px;
}

button {
    @include border-radius(5px);
    padding: 10px 42px 9px 47px;
    background-color: $blue-color;
    color: $white-color;
    border: none;
    cursor: pointer;
    .fa-long-arrow-right {
        padding-left: 24px;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: $blue-color * 0.8;
    }
}

span {
    margin-left: 20px;
    a {
        text-decoration: none;
        margin-left: 8px;
    }
}



//sidenavigation, header, information part

.container{
    //dashboard sidebar navigation starts
    &__sidenav{
        background-color: $black-color-2;
        height:100%;
        position: fixed;
        width:200px;
        
        &--profile {
            text-align: center;
            margin:0 auto 23px auto;

            h3{
               color:$blue-color; 
               margin:30px auto;
               font-size:16px;
            }
            img{
                @include border-radius(50%);
                width:79px;
                height:79px;
                margin-bottom: 13px;
            }  
            h5{
                color:$white-color;
                font-weight:600px;
                font-size:12px;
            }
            small{
                color:$light-grey-color-5;
                display:block;
                margin:2px;
                font-size:10px;
            }
        }
        &--menu{
            ul{
                display:none;
            }
            li{
                color:$light-grey-color-5;
                font-weight:600;
                font-size: 11px;
                padding:20px 0;

                &:hover{
                    background-color:$black-color-3;
                    cursor: pointer;
                    .fa-chevron-right{                       
                    @include transform(rotate(90deg));
                    margin-right:25px;
                    }                    
                    ul{
                        display:block;
                    }
                }                
                a{
                    color:$light-grey-color-5;
                    text-decoration:none;
                    font-weight: 600;
                    i{
                        margin:0 13px 0 17px;
                        height:15px;
                        width:15px;
                    }
                    &:hover{
                        color:$white-color;
                        
                    } 
                    &.active{
                        color:$blue-color;
                    }                   
                }
                .fa-chevron-right{
                    float: right;
                    margin-right:18px;
                }
                .space-control{
                    li{
                        padding-bottom:0px;
                    }
                }
                .sub-nav{                        
                    li{
                        padding-left:44px;
                        padding-bottom:0px;
                        padding-top:40px;
                        &:hover{
                            cursor: pointer;
                        }
                        &:hover ul{
                            display: block;
                        }
                            
                        a{
                            &:hover{
                                color:$white-color;
                            }
                        }
                    }
                }                
            }
        }
    }
    //dashboard sidebar navigation ends

    //dashboard panel starts
    &__panel{
        width:100%;
        position:relative;
        left:200px;
        top:0px;

        //panel left section
        .details{
            width:calc(100% - 585px);
            float:left;
            
        }
        .flex-align{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        //header right section 
        .information{
            padding-left:36px;
            width:384px;
            height:100%;
            background-color:$light-grey-color-6;
            float:left;
            position: relative;
            .label-control{
                display:inline-block;
                font-size:11px;
                label{
                    color:$black-color-2;
                }
                span{
                    margin-left:0px;
                    margin-right:30px; 
                }
                .notification-view{
                    @include border-radius(50%);
                    height:10px;
                    width:10px;
                    position: absolute;
                    background-color: $red-color;
                    bottom:50%;
                    right: 6%;
                    border:1px solid $white-color;
                }
                .blue-color{
                    color:$blue-color;
                }
                .red{
                    color:$red-color;
                }
                .fa{
                    margin-right:7px;
                }
                .fa-bell{
                    margin-right:48px;
                    padding-left:4px;
                    color:$grey-color;
                }
            }
        }

        //panel header section starts
        &--header{
            position: relative;
            background-color:$white-color;
            height:50px;
            z-index:1;   
            box-shadow:0 0 5px $light-grey-color-7;  
            width:100%;
            display:inline-block;          
            .fa-bars{
                padding:15px;
                color:$dark-grey-color;
            } 
            h6{
                font-size:15px;
                font-weight:normal;
                color:$dark-grey-color;
                display: inline;
            }
            
        }
        //panel header section ends

        //panel body section starts
        &--body{
            .details{
                padding-left:35px;
                
            }

            //dashboard information history starts
            .information{
                height:calc(100vh - 55px)!important;

                ul{
                    margin-top:40px;
                    h6{
                        font-size:15px;
                        color:$black-color-2;
                        font-weight:600;
                        padding-bottom: 5px;
                        display: inline-block;
                    }
                    li{
                        list-style: none;
                        font-size:14px;
                        font-weight: normal;
                        color:$dark-grey-color;
                        margin-top: 13px;
                        i{
                            margin-right:12px;
                            width:14px;
                            height:14px;
                        }
                    }
                }
                
                &__title{
                    
                    span{
                        color:$yellow-color-2;
                        font-weight:600;
                        float:right;
                    }
                    i{
                        color:$yellow-color-2;
                        @include border-radius(50%);
                        background-color: $brown-color;
                        margin:0px 43px 0px 10px;
                    }
                }
            }
             //dashboard information history ends
        }
        //panel body section ends
    }
    //dashboard panel ends

}


/* Grouping content
     ========================================================================== */


/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */

hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/* Text-level semantics
     ========================================================================== */


/**
   * Remove the gray background on active links in IE 10.
   */

a {
    background-color: transparent;
}


/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}


/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
    font-weight: bolder;
}


/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}


/**
   * Add the correct font size in all browsers.
   */

small {
    font-size: 80%;
}


/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}


/* Embedded content
     ========================================================================== */


/**
   * Remove the border on images inside links in IE 10.
   */

img {
    border-style: none;
}


/* Forms
     ========================================================================== */


/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
    /* 1 */
    overflow: visible;
}


/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
    /* 1 */
    text-transform: none;
}


/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}


/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
   * Restore the focus styles unset by the previous rule.
   */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}


/**
   * Correct the padding in Firefox.
   */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}


/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}


/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
    vertical-align: baseline;
}


/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
    overflow: auto;
}


/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}


/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}


/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}


/* Interactive
     ========================================================================== */


/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
    display: block;
}


/*
   * Add the correct display in all browsers.
   */

summary {
    display: list-item;
}


/* Misc
     ========================================================================== */


/**
   * Add the correct display in IE 10+.
   */

template {
    display: none;
}


/**
   * Add the correct display in IE 10.
   */

[hidden] {
    display: none;
}
