$font-sans:'Open Sans', sans-serif;
$grey-color:#707070;
$blue-color:#53a0fd;
$white-color:#fff;
$light-grey-color: #457a45;
$light-grey-color-2: #d6d6d6;
$light-grey-color-3: #cfcfcf;
$black-color:#000000;
$black-color-2:#243042;
$black-color-3:#1f2a3a;
$black-color-4:#202020;
$yellow-color:#95dc1a;
$yellow-color-2:#f4c534;
$yellow-color-3:#f9cc2a;
$yellow-color-4:#f5a623;
$green-color-2:#93cf4a;
$green-color-3:#36af6c;
$dark-grey-color:#4a4a4a;
$dark-grey-color-2:#696868;
$dark-grey-color-3:#ebeff1;
$light-grey-color-4:#9b9b9b;
$light-grey-color-5:#aab8c5;
$light-grey-color-6:#f5f6fa;
$light-grey-color-7:#7a7a7a;
$light-grey-color-8:#a9a9a9;
$light-grey-color-9: #f8f8f8;
$light-grey-color-10:#ececec;
$light-grey-color-11:#e9e9e9;
$light-grey-color-12:#747474;

$red-color:#d0021b;
$brown-color:#3e4347;
$green-color:#79be29;
$red-color-2:#ed3b51;
$red-color-3:#cf2727;
$light-pink-color:#fef9e8;
$light-yellow-color:#fef9e8;
$light-blue-color:#d5e7fd;
$dark-blue-color:#3f6bb3;




